.outro {
  margin: auto;
  margin-right: 10px;
  color: lightgray;
}

.navbar {
  background-color: #A30000;
}

@media only screen and (max-width: 800px) {
  .navbar {
    margin-bottom: 1px;
    position: absolute;
    display: none;
  }
}
