
<div class="all">
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <label for="pokePesquisa">Deseja ver qual pokémon?</label>
      <input class="form-control" type="search" aria-label="Pesquisar" id="pokePesquisa" #pokePesquisa/>
      <button class="btn btn-outline-success mt-3" (click)="pokePesquisaFunction(pokePesquisa.value)">
        Pesquisar
      </button>
    </nav>
  </div>


  <div class="text-center">
    <div *ngIf="pokeStats != undefined">
      <div *ngFor="let values of pokeStats">
        <br />

        <div class="card" style="width: 18rem">
          <img
            src="{{ imgUrl }}"
            alt=""
            (click)="pokeClicked(values.name)"
            class="img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ values.pokedexNum }}. {{ values.name }}
            </h5>
            <p class="card-text">{{ values.types }}</p>
          </div>
          <ul
            class="list-group list-group-flush"
            *ngFor="let prefixes of prefix; index as i"
          >
            <li class="list-group-item">
              {{ prefix[i] }} {{ values.basestats[i] }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
