
.navbar {
  margin: auto;
}

.card {
  float: none;
  margin-bottom: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;

}

.container {
  width: 250px;

}

.btn {
  margin: auto;
}

.form-control {
  text-transform: lowercase;
}

.mi {
  margin: auto;
}


.prin {
  margin: auto;
  text-align: center;
}


.progress {
  width: 50%;
  margin: auto;
}

.voltar {
  margin: auto;
}
