
.navbar {
  margin: auto;
}

.card {
  float: none;
  position: absolute;
  left: 30%;
  transform: translate(-50%, 0);
}

.container {
  width: 150px;

}

.btn {
  margin: auto;
}

.form-control {
  text-transform: lowercase;
}

.mi {
  margin: auto;
  width: 70%;
  margin-left: 180px;
  margin-top: 50px;
}

.mimi {
  margin: auto;
  width: 70%;
  margin-left: 180px;
}

.prin {
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
  background-color:#f2f2f2;
  border: 0.5px solid black;
}

@media only screen and (max-width: 800px) {
  .mimi {
    margin: auto;
  }
  .mi {
    margin: auto;
    margin-bottom: 30px;
  }
  .form-select {
    width: 80%;
    margin: auto;
  }
  .prin {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    background-color:#FFF;
    border: none;
    margin-bottom: 65px;
  }
}





.progress {
  width: 30%;
  margin: auto;
}

.voltar {
  margin: auto;
}

.form-select {
  width: 23%;
  margin: auto;
}


