<body>
  <div class="prin">

    <div *ngFor="let values of pokeStats">
      <div class="row g-0">
        <div class="im col-md-4">
          <img *ngIf="form == 'oficial'"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokeID}}.png"
              alt=""
              (click)="pokeClicked(values.name)"
              class="mi img-fluid rounded-start"
            />

          <img *ngIf="form == 'normal'"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{pokeID}}.png"
              alt=""
              (click)="pokeClicked(values.name)"
              class="mimi img-fluid rounded-start"
            />

            <img *ngIf="form == 'shiny'"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/{{pokeID}}.png"
            alt=""
            (click)="pokeClicked(values.name)"
            class="mimi img-fluid rounded-start"
          />

        </div>

        <div class="col-md-8">

          <div>

            <h3 class="card-title mt-4">{{ values.name | titlecase}}</h3>
            <h5><div *ngFor="let types of pokeStats[0].types">
              {{types | titlecase}}
            </div></h5>
            Base experience:
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{additionalPokeStats[0].base_experience}}</div>
            </div>
            <div class="utils">
              <p><div *ngFor="let ability of additionalPokeStats[0].abilities; index as i">
                Ability {{i+1}}. {{ability | titlecase}}
              </div>
                <p></p>
                <p>Weight: {{additionalPokeStats[0].weight}}</p>
              <p><small class="text-muted"><div *ngFor="let prefixes of prefix; index as i">
                {{ prefix[i] }} {{ values.basestats[i] }}
          </div></small></p>
          <div class="formselector mb-3">
            Form:
            <select class="form-select" (change)="changeForm(optionselector.value)"  #optionselector>
              <option selected value="oficial">
                Oficial
              </option>
              <option value="normal">
                Normal (Pokémon Home)
              </option>
              <option value="shiny">
                Shiny (Pokémon Home)
              </option>
            </select>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<router-outlet></router-outlet>
