

<body class="" *ngIf="occult == false">
<div class="principal">

  <div class="row justify-content-center">

    <div class="card mb-3" style="max-width: 18rem" *ngFor="let poke of allPokes; index as i">
      <div *ngIf="allPokes.length >= 150">
      <div class="card-header"><img class="emojidex-emoji" src="https://cdn.emojidex.com/emoji/seal/Pokebola.png" emoji-code="Pokebola" alt="Pokebola" width="7%" height="7%" />{{i+1}}</div>
    </div>

    <div *ngIf="allPokes.length < 150">
      <div class="card-header"><img class="emojidex-emoji" src="https://cdn.emojidex.com/emoji/seal/Pokebola.png" emoji-code="Pokebola" alt="Pokebola" width="7%" height="7%" />{{pokeID}}</div>
    </div>

      <div class="card-body">
        <h5 class="card-title">{{ poke | titlecase }}</h5>
        <div *ngIf="allPokes.length >= 150">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png" alt="">
        </div>

        <div *ngIf="allPokes.length < 150">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokeID}}.png" alt="">
        </div>


      </div>
      <div *ngIf="allPokes.length >= 150">
      <a class="btn btn-danger" routerLink="modal/{{i+1}}" (click)="occultElement()">Details</a>
    </div>

    <div *ngIf="allPokes.length < 150">
      <a class="btn btn-primary" routerLink="modal/{{pokeID}}" (click)="occultElement()">Details</a>
    </div>

    </div>
  </div>
</div>




<div >
  <hr class="my-4"/>
  <div class="alert alert-danger"role="alert" *ngIf="this.pokeAllService.limit > 350">
    Você chegou ao limite de pokémon permitidos!
  </div>
  <div *ngIf="allPokes.length > 150 && this.pokeAllService.limit < 350">
    <div class="btnShow">
      <button class="btn btn-danger" (click)="showMoreFunction()">View more</button>
    </div>
  </div>

</div>
</body>

<div *ngIf="occult == true">
  <button class="voltar btn btn-danger" routerLink="/allpoke" (click)="occultElement()">Go back</button>
</div>






<router-outlet></router-outlet>
