.card {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.btn {
  margin: auto;
  margin-bottom: 30px;
}

.input-group {
  width: 20%;
  height: 20%;
  margin: auto;
  padding-top: 40px;
}

