

<div class="search" *ngIf="occult == false">

  <div class="pesquisa">
    <div class="form-outline">

      <input type="search" id="form1" class="form-control" #searchPokemon [(ngModel)]="filterPoke" #findSuggestion autocomplete="off" placeholder="Looking for a specific pokemon?"/>
      <div class="list" *ngIf="findSuggestion.value != ''">

        <ul class="list-group" *ngFor="let poke of filteredPoke | slice:0:4">
          <a routerLink="modal/{{poke}}" class="list-group-item" (click)="occultElement()">{{poke | titlecase}}</a>
        </ul>
      </div>

    </div>
    <button  type="submit" class="btn btn-primary mt-3" (click)="getPokemonBySearch(searchPokemon.value)">
      <i class="fas fa-search">Search</i>
    </button>
  </div>
</div>
<div>



<body class="" >
<div class="principal" *ngIf="occult == false">

  <div class="row justify-content-center">

    <div class="card mb-3" *ngFor="let poke of allPokes; index as i">
      <div *ngIf="allPokes.length >= 150">
      <div class="card-header">{{i+1}}</div>
    </div>

    <div *ngIf="allPokes.length < 150">
      <div class="card-header">{{pokeID}}</div>
    </div>

      <div class="card-body">
        <h5 class="card-title">{{ poke | titlecase }}</h5>
        <div *ngIf="allPokes.length > 150">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png" alt="">
        </div>

        <div *ngIf="allPokes.length < 150">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokeID}}.png" alt="">
        </div>



      </div>
      <div>
      <a class="btn btn-primary" routerLink="modal/{{poke}}" (click)="occultElement()">Details</a>
    </div>

    </div>
  </div>
</div>




<div >
  <hr class="my-4"/>
  <div class="alert alert-danger"role="alert" *ngIf="this.pokeAllService.limit > 350 && occult == false">
    Você chegou ao limite de pokémon permitidos!
  </div>
  <div *ngIf="occult == false && allPokes.length > 1">
    <div class="btnShow">
      <button class="btn btn-primary" (click)="showMoreFunction()">View more</button>
    </div>
  </div>

</div>
</body>

<div *ngIf="occult == true">
  <button class="voltar btn-close" aria-label="Close" routerLink="/allpoke" (click)="occultElement()"><span aria-hidden="true"></span></button>
</div>

<div class="notFound" *ngIf="allPokes.length <= 0">
 <p>Nenhum pokémon encontrado.</p>
 <p>Verifique se você digitou o nome correto.</p>
</div>

<router-outlet></router-outlet>






